<nav class="navbar navbar-light bg-white position-fixed w-100" style="z-index: 100;" *ngIf="isValidRoute()">
  <div class="d-flex flex-row align-items-center justify-content-center w-100" style="max-width: 1236px;">
    <div style="width:75px;">
      <img [src]="getLogo()" width="60" height="60" alt="">
    </div>
    <div class="p-2" style="width:300px;">
      <span class="grey-indication-title">QR</span><span class="yellow-indication-title">C READER</span><span class="grey-indication-title"> {{version}}</span>
    </div>
    <div class="p-2" style="width:300px; margin-top: 5px;">
      <span class="black-indication-text">QR Stock: </span><span class="yellow-indication-text">100/100</span>
    </div>
    <div class="p-2 flex-fill">
      <span *ngIf="getProjectName() != ''" class="black-indication-text">Project: </span><span class="yellow-indication-text">{{getProjectName()}}</span>
    </div>
    <div class="p-2">
      <button (click)="suggestion()" type="button" class="btn btn-success">Suggestion</button>
    </div>
    <div class="p-2" *ngIf="isValidBackToProjectRoute()">
      <button (click)="leaveProject()" type="button" class="btn btn-primary">{{getLeaveText()}}</button>
    </div>
    <div class="p-2" *ngIf="canDecconect()">
      <button (click)="logout()" type="button" class="btn btn-primary">Logout</button>
    </div>
  </div>
</nav>
<div id="notification" *ngIf="showNotification">
  <p id="message">{{updateMessage}}</p>
  <button (click)="closeNotification()" type="button" class="btn btn-danger">Close</button>
  <button (click)="restartApp()" *ngIf="canApplyMaj" type="button" class="btn btn-success">Restart</button>
</div>
<app-loader [loading]="loading"></app-loader>