<div class="background-base-no-navbar p-3">
  <section
    class="u-align-center u-clearfix u-palette-5-dark-3 u-section-1"
    id="carousel_828c"
    *ngIf="!loading"
  >
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <h1 class="u-text u-text-white u-title u-text-1">
        <span class="u-text-palette-3-base"
          >Q<span class="u-text-white">
            <span class="u-text-palette-3-base">R</span>Clap
          </span>
        </span>
      </h1>
      <h3 class="u-custom-font u-font-lato u-text u-text-white u-text-2">
        It's time to bring your post-production to the next level !
      </h3>
      <div class="u-form u-form-1">
        <div
          class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form"
          style="padding: 10px"
        >
          <div class="u-form-group u-form-name u-form-group-1">
            <label
              for="name-91da"
              class="u-form-control-hidden u-label u-label-1"
              >Name</label
            >
            <input
              type="text"
              placeholder="Mail or Username"
              id="name-91da"
              name="name"
              [(ngModel)]="username"
              class="
                u-border-2
                u-border-white
                u-input
                u-input-rectangle
                u-radius-50
                u-white
              "
              required=""
              maxlength="200"
            />
          </div>
          <div class="u-form-email u-form-group u-form-group-2">
            <label
              for="email-2555"
              class="u-form-control-hidden u-label u-label-2"
              >Email</label
            >
            <input
              type="password"
              placeholder="Password"
              id="email-2555"
              name="email"
              [(ngModel)]="password"
              class="
                u-border-2
                u-border-white
                u-input
                u-input-rectangle
                u-radius-50
                u-white
              "
              required=""
            />
          </div>
          <div class="u-align-left u-form-group u-form-submit">
            <div
              style="cursor: pointer"
              (click)="connect()"
              class="
                u-active-grey-80
                u-border-2
                u-border-active-grey-80
                u-border-black
                u-border-hover-grey-80
                u-btn
                u-btn-round
                u-btn-submit
                u-button-style
                u-hover-grey-80
                u-palette-3-base
                u-radius-50
                u-btn-1
              "
            >
              CONNEXION
            </div>
            <input type="submit" value="submit" class="u-form-control-hidden" />
          </div>
          <div class="u-form-send-message u-form-send-success">
            Thank you! Your message has been sent.
          </div>
          <div class="u-form-send-error u-form-send-message">
            Unable to send your message. Please fix errors then try again.
          </div>
          <input type="hidden" value="" name="recaptchaResponse" />
        </div>
        <div
          *ngIf="error != ''"
          style="
            width: 704px;
            height: 64px;
            background-color: #f95d51;
            text-align: center;
            padding: 20px 0px 20px 0px;
            margin-top: 35px;
          "
        >
          {{ error }}
        </div>
      </div>
    </div>
    <div class="button-action" (click)="backupRename()">Backup Rename</div>
    <!-- <div class="button-action button-action-secondary" style="right: 280px;" *ngIf="canDoBackup()" (click)="doBackup()">Do Backup</div> -->
  </section>
  <app-loader [loading]="loading"></app-loader>
</div>
