<div class="modal-header">
  <h4 class="modal-title">Compare result</h4>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
      (click)="cancel()">&times;</button>
</div>
<div class="modal-body" style="max-height: 592px;overflow: auto;">
    
    <mat-expansion-panel hideToggle *ngFor="let disk of getListDisk()">
        <mat-expansion-panel-header>
            <mat-panel-title class="w-100 font-weight-bold user-select-none">
            <fa-icon [icon]="faSave" class="mr-2"></fa-icon>{{disk}}
            </mat-panel-title>
            <mat-panel-description style="min-width: 221px;">
            <div *ngIf="diskContainError(disk)">
                <span class="yellow-text font-weight-bold user-select-none">different: {{getTotalInDisk(disk, false)}}</span>
                <span class="red-text font-weight-bold user-select-none ml-4">missing: {{getTotalInDisk(disk, true)}}</span>
            </div>
            <div *ngIf="!diskContainError(disk)">
                <span class="success-text font-weight-bold user-select-none">Similar to source!</span>
            </div>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngFor="let file of fileState['diskError'][disk]">
            <span style="font-weight: 500;">{{file.file}}</span><span *ngIf="file.isDifferent" class="yellow-text" style="font-weight: 500;"> is different.</span><span *ngIf="file.isMissing" class="red-text" style="font-weight: 500;"> is missing.</span>
        </div>
    </mat-expansion-panel>
</div>
<div class="modal-footer d-flex flex-row">
    <button (click)="cancel()" type="button" class="btn btn-secondary">
        <span>Close</span>
    </button>
    <button (click)="confirm()" *ngIf="needRecopy()" type="button" class="btn btn-success">
        <span>Recopy and compare</span>
    </button>
</div>
