<div *ngIf="loading" class="position-absolute w-100 h-100" style="z-index: 500;background-color: rgba(0, 0, 0, 0.5);top:0;left:0;">
  <div *ngIf="loading && type == 0" class="d-flex flex-row align-items-center justify-content-center h-100 w-100">
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-info" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-light" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-dark" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div *ngIf="loading && type == 1" class="d-flex flex-row align-items-center justify-content-center h-100 w-100">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-border text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-border text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-border text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-border text-info" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-border text-light" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-border text-dark" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>